.carousel-caption-top-left {
  position: absolute;
  left: 3%;
  top: 2%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
  font-family: "Cabin" !important;
  font-size: 70px;
}

.top-right {
  position: absolute;
  top: 8px;
  left: 16px;
}

.carousel-caption-top-right {
    position: absolute;
    right: 3%;
    top: 3%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;
    font-family: "Cabin" !important;
    font-size: 30px;
}

.carousel-caption-bottom-right {
    position: absolute;
    right: 3%;
    bottom: 20%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;
    font-family: "Cabin" !important;
    font-size: 70px;
}

.carousel-caption-higher{
    top:1%;
}

.carousel-caption-lower{
  top:310px;
}

.line-height-lg {
  line-height: 1.6;
}
.carousel-caption-middle-middle {
    position: absolute;
    right: 20%;
    top: 18%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(34, 34, 34);
    text-align: right;
    font-family: "Cabin" !important;
    font-size: 100px;
}

.carousel-caption-middle-right {
    position: absolute;
    right: 13%;
    top: 30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(34, 34, 34);
    text-align: right;
    font-family: "Cabin" !important;
    font-size: 70px;
}

.card-group .card{
  margin: 0px 20px 20px 20px;
}

.navbar .container {
  padding: 0;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
  }

  #mainNav.navbar-shrink {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .carousel-item {
    margin-bottom: -9%;
  }


  .carousel-caption-top-right.carousel-caption-lower {
    top: 18%;
  }
}

