.carousel-inner {
  overflow: visible;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}

div {
  font-family: 'Open Sans', sans-serif;
}

.carousel-caption-top-left {
  position: absolute;
  left: 3%;
  top: 2%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
  font-family: "Cabin" !important;
  font-size: 70px;
}

.top-right {
  position: absolute;
  top: 8px;
  left: 16px;
}

.carousel-caption-top-right {
    position: absolute;
    right: 3%;
    top: 3%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;
    font-family: "Cabin" !important;
    font-size: 30px;
}

.carousel-caption-bottom-right {
    position: absolute;
    right: 3%;
    bottom: 20%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;
    font-family: "Cabin" !important;
    font-size: 70px;
}

.carousel-caption-higher{
    top:1%;
}

.carousel-caption-lower{
  top:310px;
}

.line-height-lg {
  line-height: 1.6;
}
.carousel-caption-middle-middle {
    position: absolute;
    right: 20%;
    top: 18%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(34, 34, 34);
    text-align: right;
    font-family: "Cabin" !important;
    font-size: 100px;
}

.carousel-caption-middle-right {
    position: absolute;
    right: 13%;
    top: 30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(34, 34, 34);
    text-align: right;
    font-family: "Cabin" !important;
    font-size: 70px;
}

.card-group .card{
  margin: 0px 20px 20px 20px;
}

.navbar .container {
  padding: 0;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    
  }
  a.nav-link{
    font-size: 1rem !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .carousel-item {
    margin-bottom: -9%;
  }


  .carousel-caption-top-right.carousel-caption-lower {
    top: 18%;
  }
}
.navbar {
  font-family: 'Open Sans', sans-serif;
  font-size: larger;
}

.extra-info {
  margin-left: 20px;
}
.arrow {
	width: 60px;
	height: 72px;
	left: 50%;
	margin-left: -30px;
  bottom: 20px;
}

.a1 {
  fill: grey;
}

.w-80 {
  width: 80% !important;

}

.childImg{
  position:absolute;
  width: 25%;
  top: 200px;
  left: 250px;
}

@media (max-width: 775px) {
  .pc {
  display: none;
  }
  .car-img{
      border-radius: 10px;
  }
  
}

@media (min-width: 775px) {
  .mobile {
      display: none;
  }
}

.page-body{
  font-size: small;
}


